<div class="container-login100">
    <div class="wrap-login100">
       
        <form class="login100-form validate-for">
 
            <span class="login100-form-title p-b-43">
                Register your self
                </span>
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example2">Last name</label>
                      </div>
                    </div>
                  </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control form-control-lg" />
                <label class="form-label" for="email">Email</label>
              </div>    
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="tel" id="mobileno" class="form-control form-control-lg" />
              <label class="form-label" for="mobileno">Contact no</label>
            </div> 
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Submit</button> 
          </form>
        
        <div class="login100-more" >
        </div>
    </div>
</div>