@import '../../../../styles/media';
@import '../../../../styles/root';
.head{
    display: flex;
    justify-content: space-between;
   
    .head-right{ 
        display: flex;
        justify-content: space-between; 
        gap: 15px;
        padding-top: 10px;
    }
}
.logo{
    display: flex;
    nav{
        padding-top: 5px;
    }
    a.logo-link{
        display: flex;
        font-size: 16px;
        color: #5e5e5e;
        font-weight: 600;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 7px;
        gap: 7px;
        @include laptop-and-up { 
            font-size: 30px;
          }
      
        .logo-text{
            width: 60px;
            word-break: break-word;
            line-height: 15px;
            @include laptop-and-up { 
                width: 105px;
            }
            span{
                font-size: 14px;
                font-weight: 300;
            }
        }
       
    }
}
.samosa-logo{
    height: 35px;
}

.whatsapp{
   // background:url(../../../../assets/images/whatsapp.svg);
    width: 25px;
    display: flex;
    @include laptop-and-up { 
        width: 175px;
    } 
    .icon{
        background:url(../../../../assets/images/whatsapp.svg);
        width: 25px;
        height: 25px; 
    }
    .no{
        display: none;
        @include laptop-and-up {  
           display: inline-flex;
            padding-left: 5px;
            font-weight: 600;
            font-size: var(--font-size16);
          }
    }
}

.cart{
    // background:url(../../../../assets/images/whatsapp.svg);
     width: 25px;
     display: flex;
     @include laptop-and-up { 
         width: 25px;
     } 
     .icon{
         background:url(../../../../assets/images/cart.svg);
         width: 25px;
         height: 25px; 
     }
     .no{
         display: none;
         @include laptop-and-up {  
            display: inline-flex;
             padding-left: 5px;
             font-weight: 600;
           }
     }
 }
 .profile{
    // background:url(../../../../assets/images/whatsapp.svg);
     width: 24px;
     display: flex;
     @include laptop-and-up { 
         width: 24px;
     } 
     .icon{
         background:url(../../../../assets/images/profile.svg);
         width: 24px;
         height: 24px; 
     }
     .no{
         display: none;
         @include laptop-and-up {  
            display: inline-flex;
             padding-left: 5px;
             font-weight: 600;
           }
     }
 }

 .mini-cart{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 2;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d1d1d1;
    width: 100%;
    overflow-y: scroll;
    height: 300px;
    @include laptop-and-up { 
        width: 350px;
    } 
 }
 .cart-samosa{
    width: 20px;
    top: -8px;
    right: 1px;
 }