<div class="home">
  <!-- <div class="container ">  
    <app-main-carousel></app-main-carousel>
  </div>  -->
  <div id="carouselExampleDark" class="carousel carousel-light slide mt-5" data-bs-ride="carousel">
    <div class="container pt-5">
      <app-main-carousel></app-main-carousel>
    </div>
  </div>

  <div class="container pt-5">
    <!-- Content here -->
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <app-popular-product>

        </app-popular-product>
      </div>
      <div class="col-3 position-relative d-none d-md-block">
        <div class="samosa d-none d-md-block"></div>
        <h4>You can <span style="color:#ff0000 ;">PICK-UP</span> your orders here</h4>
        <img src="../../../assets/images/moving-cart.jpg" alt="" class="w-100" />
        <!-- <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>