@import '../../../../styles/media';
@import '../../../../styles/root';
.w-65 {
  width: 65px;
}
.minicart-content {
 // display: flex;
  .col1 {
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
  }
  .name{
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    padding-bottom: 10px; 
  }
  .price-qty, .subtotal{
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    line-height: 18px;
    padding-bottom: 10px;
    color: #5c5c5c;
    gap: 30px;
  }
  
  .font-tras{
    font-size: 14px;
    color:var(--ssf-orange);
  }
  .font-inr{
    font-size: 12px;  
  }
}

.cart-item{
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom:1px solid #e5e5e5;
    &:last-child{
        border-bottom: 0;
    }
  
}
.total{
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding-top: 10px;
}
