.call-whatsapp{
  font-family: 'Poppins', sans-serif;
  display: flex;
  .whatsapp{
    width: 35px;
    display: flex;
    align-self: center;
    .icon{
      background:url(../../../../assets/images/whatsapp.png);
      width: 35px;
      height: 35px;
      background-size: 35px;
  }

}
.call{
  width: 37px;
  display: flex;
  align-self: center;
  margin-left: 10px;
  .icon{
    background:url(../../../../assets/images/call.svg);
    width: 35px;
    height: 35px;
    background-size: 35px;
}

}
  .no{
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
  }
}
