@import '../../../../styles/variable';
.product {
  .items {
  //  a {
      color: #585659;
      box-shadow: 0 2px 3px 1px rgb(45 42 42 / 12%);
      background-color: #fff;
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
      .name-price-wrapper{
       padding: 15px 15px 15px 15px;
        h4{
            font-family: $primary-font-family;
            text-transform: capitalize;
            font-weight: 600;
        }
        .description{
            text-transform: capitalize;
            font-size: var(--font-size16);
            min-height: 45px;

        }
        .price-addtocart{
          display: flex;
          justify-content: space-between;
          .price{
            .main{
                font-family: $primary-font-family;
                font-weight: 600;
                font-size: var(--font-size22);
            }
            .del{
                color: var(--cx-text-color-del);
                font-size: var(--font-size16);
                font-weight: 400;
                padding: 8px 0 0;
                text-decoration: line-through;
            }
        }
        }
      }
  //  }
  }
}
