<div class="row">
    <div class="col-md-4 col-xs-12" *ngFor="let prod of productList;let i=index">
        <div class="product">
            <div class="items wrapper">
                <a href="{{prod.url}}">
                    <img id="img1" src="../../../../assets/images/{{prod.samosadetails[0].thumbnail}}" class="thumbnail w-100"
                        alt="{{prod?.varietyname}}">
                    <!-- <div id="img1_1" class="wrapper-cell">
                        <div class="image"></div>
                    </div>  -->
                    <!-- <img class="d-block w-100" src="{{imgBaseUrl}}{{imageurl}}" alt="{{imageurl}}" *ngIf="diningRoom_media$ | async as imageurl" >  -->
                    </a>
                    <div class="name-price-wrapper">
                        <h4> {{prod.varietyname}} </h4>
                        <p class="description">
                            {{prod.description}}
                        </p>
                       <div class="price-addtocart">
                        <div class="price">
                            <div class="ng-star-inserted">
                                <span class="main"> ₹{{prod.price[0].offer_price_formated}} </span>
                                <span class="del"> ₹{{prod.price[0].price_formated}}  </span>
                            </div>
                        </div>
                        <div class="addtocart">
                            <button type="button" class="btn btn-primary" (click)="addToCart(prod,i)">add to cart</button>

                        </div>
                       </div>
                    </div>
                    <div class="title">

                    </div>
                    <p class="description">

                    </p>

            </div>
        </div>
    </div>
</div>
